{% extends "conflict/base.html" %}

{% block content %}
    <h1>List of Registered Medical Practitioners</h1>
    <form>
      <input id="search_box" type="text" name="search"/>
      <input id="search_box" type="submit" name="submit" value="Search by Surname"/>
    </form>
    <table class="doctors">
        <thead>
            <tr>
                <th><a href="http://www.gmc-uk.org/">GMC id</a></th>
                <th>Given name(s)</th>
                <th>Surname</th>
            </tr>
        </thead>
        {% for doctor in doctor_list %}
            <tr>
                <td>{{ doctor.gmc_reference_number }}</td>
                <td>{{ doctor.given_names }}</td>
                <td>{{ doctor.surname }}</td>
                <td>
                    <ul>
                        {% for study in doctor.studies %}
                            <li>{{ study.funder }}</li>
                            <li>{{ study.sponsor}}</li>
                        {% endfor %}
                    </ul>
                </td>
            </tr>
        {% endfor %}
    </table>

    <div class="pagination">
        <span class="step-links">
            {% if page_obj.has_previous %}
                <a href="?page={{ page_obj.previous_page_number }}">previous {{ page_obj.paginator.per_page }}</a>
            {% endif %}

            <span class="current">
                Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
            </span>

            {% if page_obj.has_next %}
                <a href="?page={{ page_obj.next_page_number }}">next {{ page_obj.paginator.per_page }}</a>
            {% endif %}
        </span>
    </div>
{% endblock %}
