{% extends "conflict/base.html" %}

{% block content %}

    <h1> Who funded? </h1>

    <br>

    <div style="width:700px;" align="justify">
      <h4>
        A little mash up of GMC's <a href="http://www.gmc-uk.org/doctors/register/LRMP.asp">LRMP</a> (List of Registered Medical Practioners) and
        <a href="http://public.ukcrn.org.uk/search/"> UKCRN </a> (UK Clinical Research Network Study) Portfolio
      </h4>

      <p>
        Accurate and timely conflict of interest is in the best interests of doctors, patients and the pharmaceutical industry.  This openness enables a more efficient search for better treatments for patients to consume, doctors to dispense and pharamceutical companies to sell.
      </p>

      <a href="./doctors/interesting" class="btn btn-primary btn-large">See the list</a>

      <hr>

      <h5>
        Some recommendations
      </h5>
      <ul>
        <li>
          Research published by UK registered doctors should contain their GMC number.
        </li>
      </ul>

      <h5>
        Thanks
      </h5>
      <span>
        To the GMC and UKCRN for providing a high quality source of data on UK registered medical practitioners and their research.
      </span>
    </div>

{% endblock %}
